{{#each ideas}}
<div class="card">
    <div class="card-content">
        <p class="title">
            {{ title }}
        </p>
        <p class="subtitle">
            {{ details }}
        </p>
    </div>
    <footer class="card-footer">
        <p class="card-footer-item">
            <span>
                <a href="/ideas/edit/{{id}}">Edit</a>
            </span>
        </p>
        <p class="card-footer-item">
            <span>
                <form action="/ideas/{{id}}?_method=DELETE" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="submit" value="Delete">
                </form>
            </span>
        </p>
    </footer>
</div>
{{else}}
{{/each}}